{% include 'base.html'%}
{% load static %}
{% load cloudinary %}
{% load crispy_forms_tags %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/awards.css' %}">
<link rel="stylesheet" href="{% static 'js/jquery.easypiechart.js' %}">
{% endblock %}


{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 mb-3 main_pic">

            <img src="{{ post.image.url }}" class="img-fluid z-depth-1" alt="Responsive image">

        </div>
        <!-- Grid column -->

    </div>


        {% if rating_status %}
        <h5>You have already voted</h5>
        {% else %}
        {% if user.is_authenticated %}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{rating_form|crispy}}
            <button class="btn btn-sm btn-info">Rate</button>
        </form>
        {% endif %}
        {% endif %}


        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h3 class="D-block mx-auto">Ratings Scores</h3>
                {% for rating in post.ratings.all %}
                {% if forloop.counter is post.ratings.all.count %}
                <a class="btn btn-info btn-sm">
                    <h5>{{ rating.score }}</h5>
                    <span class="sc">Average Score</span>
                </a>
                <a class="btn btn-outline-success btn-sm">
                    <h5>{{ rating.design_average }}</h5>
                    <span class="sc">Design Average</span>
                </a>
                <a class="btn btn-outline-primary btn-sm" id="u">
                    <h5>{{ rating.usability_average }}</h5>
                    <span class="sc">Usability Average</span>
                </a>
                <a class="btn btn-outline-danger btn-sm" id="c">
                    <h5>{{ rating.content_average }}</h5>
                    <span class="sc">Content Average</span>
                </a>
                {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-2"></div>
        </div>


            </div>
        </div>
    </div>

    <hr>

    <div class="description text-center">
        <h2><strong>{{ post.project_name }}</strong></h2>
        <h6 class="lead">Posted On <strong>{{ post.date| date }}</strong></h6>
        <a href="{% url 'likePost' post.id %}"><i class="far fa-heart fa-3x" style="color: green;"> {{ post.like }}</i></a>

        <div style="width: 420px;text-align:left;" class="container">
            <div class="card">
                <div class="card-body">

                    {% if post.profile.avatar.url %}
                    <img src="{{ post.profile.avatar.url }}" class="float-left rounded-circle img-fluid">
                    {% else %}
                    <img src="/static/img/default.jpg" class="float-left rounded-circle img-fluid">
                    {% endif %}

                    <div class="message">
                        <h5 style="text-decoration: underline;">{{ post.profile.user.username }}</h5>
                        <h6 class="text-muted">@{{ post.profile.user.username }}</h6>
                        <h6 class="card-subtitle text-muted"><span style="font-weight: normal;" class="text-muted"><i> <br> from</i> <strong>{{ post.profile.location }}</strong></span></h6>
                    </div>
                </div>
            </div>
        </div>


        <h3 style="text-decoration: underline;">Project Description</h3>
        <p class="lead font-weight-bold">{{ post.description }}</p>
    </div>

    <hr style="color: #111;font-weight:bold;">
</div>

<div class="container">

    <h3 id="user_reviews" class="mt-5 mb-3" style="text-decoration: underline;">User Reviews</h3>
    <div class="media">

        {% if profile.avatar.url %}
        <img class="d-flex img-fluid rounded-circle avatar z-depth-1-half mr-3" src="{{ profile.avatar.url }}"
            alt="Avatar">
        {% else %}
        <img class="d-flex img-fluid rounded-circle avatar z-depth-1-half mr-3" src="/static/img/code.jpg" alt="Avatar">
        {% endif %}

        <div class="media-body">
            <div class="media mt-3 shadow-textarea">
                <div class="media-body">
                    <h5 class="mt-0 font-weight-bold blue-text">{{ request.user.username }}</h5>
                    <h6 class="mt-0 font-weight-bold blue-text text-muted">@{{ request.user.username }}</h6>
                    <div class="form-group basic-textarea rounded-corners">
                        <form class="form-group" method="POST">
                            {% csrf_token %}
                            {{ backend_form }}
                            <textarea class="form-control z-depth-1" id="exampleFormControlTextarea345" name="comment"
                                rows="3" placeholder="Write your comment..."></textarea>
                            <button type="submit" class="btn btn-sm btn-outline-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    {% for items in comments %}

    <div class="media">

        {% if items.profile.avatar.url %}
         <img class="d-flex img-fluid rounded-circle avatar z-depth-1-half mr-3" src="{{ items.profile.avatar.url }}"
            alt="Avatar">
        {% else %}
         <img class="d-flex img-fluid rounded-circle avatar z-depth-1-half mr-3" src="/static/img/default.jpg" alt="Avatar">
        {% endif %}

        <div class="media-body">
            <h5 class="mt-0 font-weight-bold blue-text">{{ items.profile.user.username }}</h5>
            <span style="color: #111;"> {{ items.comment }}</span>
            <p class="text-muted">{{ items.date| timesince }} ago</p>
        </div>
    </div>
    <hr>
    {% endfor %}

  
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/js/jquery.easypiechart.js"></script>
<script>
    $(function () {
        $('.chart').easyPieChart({
            barColor: '#00b300'
        });
    });

    $(document).ready(function () {
        $('#').click(function () {
            $('#').toggle();
        });

        $("#reviews").click(function () {
            var elmnt = document.getElementById("user_reviews");
            elmnt.scrollIntoView();
        });
    });
</script>

{% endblock %}