{% extends 'base.html'%}
{% load static %}
{% load cloudinary %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'js/jquery.easypiechart.js' %}">
{% endblock %}


{% block content %}

<!-- Jumbotron -->
<div class="card card-image" style="background-image: url('{{ first.image.url }}');">
    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
        <div class="py-5">

            <!-- Content -->
            <h2 class="card-title h2 my-4 py-2">{{ first.project_name }}</h2>
            <h5>Posted By, <span class="h5 orange-text lead"> {{ first.profile.user.username }}</span> </h5>

            <p class="mb-4 pb-2 px-md-5 mx-md-5 lead">{{ first.description }}</p>

            <div class="circle mt-5">
                <div class="box">
                    <div class="chart" data-percent="100" data-scale-color="#ffb400">{{ first.ave_des|floatformat:1 }}
                    </div>
                    <h3>Design</h3>
                </div>
                <div class="box">
                    <div class="chart" data-percent="100" data-scale-color="#ffb400">{{ first.ave_use|floatformat:1 }}
                    </div>
                    <h3>Usability</h3>
                </div>
                <div class="box">
                    <div class="chart" data-percent="100" data-scale-color="#ffb400">{{ first.ave_cont|floatformat:1 }}
                    </div>
                    <h3>Content</h3>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-12">
            <h3>Top Rated Projects</h3>
        </div>
    </div>
    <div class="row">
        {% for items in post %}

        <div class="col-12 col-sm-6 col-lg-4">
            <div class="card">
                <div class="card-header">
                    <div class="avatar">

                        {% if items.profile.avatar %}
                        <img src="{{ items.profile.avatar.url }}">
                        {% else %}
                        <img src="/static/img/code.jpg">
                        {% endif %}

                    </div>
                    <div class="name lead"><a href="{% url 'profile' items.profile.user.username %}">{{ items.profile.user.username }}</a></div>
                    <!-- <div class="date">@{{ items.profile.user.username }}</div> -->
                    <div class="date lead">{{ items.date| date }}</div>
                </div>
                <div class="card-content p-3 lead">
                    {{ items.description | truncatechars:38 }}
                </div>
                <div class="card-content">
                    <a href="{% url 'singleProject' items.id %}">
                        <img src="{{ items.image.url }}" style="width: 100%">
                    </a>

                </div>
                <div class="card-content fg-gray p-2 lead">
                    <span><small>Likes: </small>{{ items.like }}</span>

                </div>
                <div class="card-footer">
                    <a href="{% url 'likePost' items.id %}" class="flat-button mif-thumbs-up mif-3x">Like</a>
                    <a href="{% url 'singleProject' items.id %}" class="flat-button mif-hour-glass mif-3x">Rate</a>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/js/jquery.easypiechart.js"></script>
<script>
    $(function () {
        $('.chart').easyPieChart({
            //your options goes here
        });
    });
</script>

{% endblock %}